<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="admin-nav">
    <nav class="navbar-default navbar navbar-expand-lg">
        <div class="ms-lg-3 d-none d-md-none d-lg-block">
            <form class="d-flex align-items-center">
                <span class="position-absolute ps-3">
                    <i data-feather="search" class="search-icon" height="18px" width="18px"></i>
                </span>
                <input type="search" class="form-control ps-6" placeholder="Search Entire Dashboard" />
            </form>
        </div>
        <div class="ms-auto d-flex">
            <ul class="navbar-nav navbar-right-wrap ms-2 d-flex nav-top-wrap">
                <li class="dropdown stopevent">
                    <a
                        class="btn btn-light btn-icon rounded-circle indicator indicator-primary"
                        href="#"
                        role="button"
                        id="dropdownNotification"
                        data-bs-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                        <i data-feather="bell" height="18px" width="18px"></i>
                    </a>
                </li>
                <li class="dropdown ms-2">
                    <a class="rounded-circle" href="#" role="button" id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="true">
                        <div class="avatar avatar-md avatar-indicators avatar-online">
                            <img alt="avatar" th:src="${admin.avatar}" class="rounded-circle" />
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownUser">
                        <div class="dropdown-item">
                            <div class="d-flex">
                                <div class="avatar avatar-md avatar-indicators avatar-online">
                                    <img alt="avatar" th:src="${admin.avatar}" class="rounded-circle" />
                                </div>
                                <div class="ms-3 lh-1">
                                    <h4 class="mb-1" th:text="${admin.firstname + ' ' + admin.lastname}"></h4>
                                    <p class="mb-0 fs-5">@<span th:text="${admin.username}"></span></p>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown-divider"></div>
                        <ul class="list-unstyled">
                            <li>
                                <a class="dropdown-item disabled fs-5" href="../../pages/profile-edit.html" >
                                    <i data-feather="user" class="me-2" height="18px" width="18px"></i>
                                    Profile
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item disabled fs-5" href="../../pages/student-subscriptions.html">
                                    <i data-feather="star" class=" me-2" height="18px" width="18px"></i>
                                    Subscription
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item disabled fs-5" href="#">
                                    <i data-feather="settings" class=" me-2" height="18px" width="18px"></i>
                                    Settings
                                </a>
                            </li>
                        </ul>
                        <div class="dropdown-divider"></div>
                        <ul class="list-unstyled">
                            <li>
                                <a class="dropdown-item" th:href="@{/logout}">
                                    <i data-feather="power" class=" me-2" height="18px" width="18px"></i>
                                    Sign Out
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</body>
</html>