<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="navbar">
    <nav class="navbar navbar-expand-lg border-bottom ps-2 pe-3">
        <div class="container-fluid">
            <a class="navbar-brand text-dark ms-2 fw-bold" href="/">Course Management System</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/course">Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/course-detail">Course</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/student">Profile</a>
                    </li>
                    <li class="nav-item" th:if="${isAuthenticated}">
                        <a class="nav-link text-dark" href="/logout">Logout</a>
                    </li>
                    <li class="nav-item" th:unless="${isAuthenticated}">
                        <a class="nav-link text-dark" href="/login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</body>
</html>
