<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="profile">
    <div class="row align-items-center">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
            <div class="rounded-top" style="background: url(https://png.pngtree.com/thumb_back/fh260/background/20190813/pngtree-digital-technology-blue-background-banner-image_298195.jpg) no-repeat; background-size: cover; height: 100px;"></div>
            <div class="card px-4 pt-2 pb-4 shadow-sm rounded-top-0 rounded-bottom-0 rounded-bottom-md-2">
                <div class="d-flex align-items-end justify-content-between">
                    <div class="d-flex align-items-center">
                        <div class="me-2 position-relative d-flex justify-content-end align-items-end mt-n5">
                            <img class="avatar-x1 rounded-circle position-relative" th:src="${student.avatar}" alt="Teacher Avatar" style="width: 5rem; height: 5rem; border: 4px solid #f5f5f5;">
                        </div>
                        <div class="lh-1">
                            <h2 class="mb-0 mt-0 ms-1" style="color: #333; font-size: 1.5rem; font-family: Inter, sans-serif;" th:text="${student.firstname + ' ' + student.lastname}">Jenny Wilson</h2>
                            <p class="mb-0 d-block ms-1 pt-1" style="color: #64748b; font-family: Inter, sans-serif; font-size: 0.938rem;">@<span th:text="${student.username}"></span></p>
                        </div>
                    </div>
                    <div>
                        <a class="btn btn-primary create-course-btn d-none d-md-block" href="/student/profile">Account Setting</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>