<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="scroll">
    <div class="btn-scroll-top" id="scrollTopBtn" onclick="scrollToTop()">
        <i class="fa fa-angle-double-up"></i>
    </div>

    <script>
        const scrollTopBtn = document.getElementById("scrollTopBtn");

        // Show or hide the button based on scroll position
        window.onscroll = function() {
            if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
                scrollTopBtn.classList.add("show");
            } else {
                scrollTopBtn.classList.remove("show");
            }
        };

        function scrollToTop() {
            window.scrollTo({ top: 0, behavior: 'smooth' });
        }
    </script>
</body>
</html>