<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Courses</title>
    <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/feather-icons"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" th:href="@{/css/admin.css}"/>

    <style>
        
    </style>
</head>
<body>
    <section class="containe">
        <div class="col-20">
            <div th:replace="~{fragments/admin-sidebar.html :: admin-sidebar}"></div>
        </div>
        <div class="col-80">
            <div th:replace="~{fragments/nav-admin.html :: admin-nav}"></div>
            <section class="container-fluid p-4">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-12">
                        <div class="border-bottom pb-3 mb-3 d-flex flex-column flex-md-row gap-3 align-items-md-center justify-content-between">
                            <div class="d-flex flex-column gap-1">
                                <h1 class="mb-0 h2 fw-bold">Courses</h1>
                                <!-- Breadcrumb -->
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item">
                                            <a href="/admin">Dashboard</a>
                                        </li>
                                        <li class="breadcrumb-item">
                                            <a href="#">Courses</a>
                                        </li>
                                        <li class="breadcrumb-item active" aria-current="page">All</li>
                                    </ol>
                                </nav>
                            </div>
                            <div>
                                <a href="/admin/add-course" class="btn btn-primary">Add New Courses</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-12">
                        <div class="card rounded-3">
                            <div class="card-header p-0">
                                <div>
                                    <ul class="nav nav-lb-tab border-bottom-0" id="tab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="courses-tab" data-bs-toggle="pill" href="#courses" role="tab" aria-controls="courses" aria-selected="true">All</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="published-tab" data-bs-toggle="pill" href="#published" role="tab" aria-controls="published" aria-selected="false">Published</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="drafts-tab" data-bs-toggle="pill" href="#drafts" role="tab" aria-controls="drafts" aria-selected="false">Drafts</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                             <div class="p-4 row">
                                <!-- Form -->
                                <form class="d-flex align-items-center col-12 col-md-12 col-lg-12">
                                    <span class="position-absolute ps-3 search-icon"><i class="fas fa-search"></i></span>
                                    <input type="search" class="form-control ps-6" placeholder="Search Course" />
                                </form>
                            </div>
                            <div>
                                <!-- Table -->
                                <div class="tab-content" id="tabContent">
                                    <!--Tab pane -->
                                    <div class="tab-pane fade show active" id="courses" role="tabpanel" aria-labelledby="courses-tab">
                                        <div class="table-responsive border-0 overflow-y-hidden">
                                            <table class="table mb-0 text-nowrap table-centered table-hover">
                                                <thead class="table-light">
                                                    <tr>
                                                        <th>Courses</th>
                                                        <th class="text-center">Students Enrolled</th>
                                                        <th>Status</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr th:each="courseInAd : ${coursesInAd}">
                                                        <td>
                                                            <a th:href="@{/admin/course(course_id=${courseInAd.courseId})}" class="text-inherit">
                                                                <div class="d-flex align-items-center gap-3">
                                                                    <div>
                                                                        <img th:src="${courseInAd.image}" alt="" class="img-4by3-lg rounded fixed-image-size2" />
                                                                    </div>
                                                                    <div class="d-flex flex-column gap-1">
                                                                        <h4 class="mb-0 text-primary-hover" th:text="${courseInAd.name}"></h4>
                                                                        <span class="fs-5">Added on <span th:text="${courseInAd.formattedCreatedAt}"></span></span>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <h5 class="mb-0 text-center" th:text="${totalStudentsPerCourse[courseInAd.courseId]}"></h5>
                                                        </td>
                                                        <td>
                                                            <span th:class="'badge-dot ' + (${courseInAd.status == 'draft' ? 'bg-warning' : 'bg-success'}) + ' me-1 d-inline-block align-middle'"></span>
                                                            <span th:text="${courseInAd.status}">
                                                        </td>
                                                        <td>
                                                            <!-- Form for changing course status -->
                                                            <form th:action="@{/admin/change-status}" method="post">
                                                                <input type="hidden" name="courseId" th:value="${courseInAd.courseId}" />
                                                                <button th:if="${courseInAd.status == 'published'}" class="btn btn-primary btn-sm" type="submit">Change Status</button>
                                                            </form>
                                                        
                                                            <!-- Form for deleting course -->
                                                            <form th:action="@{/admin/change-status}" method="post" class="d-flex align-items-center">
                                                                <input type="hidden" name="courseId" th:value="${courseInAd.courseId}" />
                                                                <button th:if="${courseInAd.status == 'draft'}" class="btn btn-success btn-sm" type="submit">Publish</button>
                                                                <a th:if="${courseInAd.status == 'draft'}" class="btn btn-outline-secondary btn-sm ms-2" th:href="@{/admin/delete-course/{courseId}(courseId=${courseInAd.courseId})}">Delete</a>
                                                            </form>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <!--Tab pane -->
                                    <div class="tab-pane fade" id="published" role="tabpanel" aria-labelledby="published-tab">
                                        <div class="table-responsive border-0 overflow-y-hidden">
                                            <table class="table mb-0 text-nowrap table-centered table-hover">
                                                <thead class="table-light">
                                                    <tr>
                                                        <th>Courses</th>
                                                        <th class="text-center">Students Enrolled</th>
                                                        <th>Status</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr th:each="courseInAd : ${coursesInAd}" th:if="${courseInAd.status == 'published'}">
                                                        <td>
                                                            <a th:href="@{/admin/course(course_id=${courseInAd.courseId})}" class="text-inherit">
                                                                <div class="d-flex align-items-center flex-row gap-3">
                                                                    <div>
                                                                        <img th:src="${courseInAd.image}" alt="" class="img-4by3-lg rounded fixed-image-size2" />
                                                                    </div>
                                                                    <div class="d-flex flex-column gap-1">
                                                                        <h4 class="mb-0 text-primary-hover" th:text="${courseInAd.name}"></h4>
                                                                        <span class="fs-5">Added on <span th:text="${courseInAd.formattedCreatedAt}"></span></span>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <h5 class="mb-0 text-center" th:text="${totalStudentsPerCourse[courseInAd.courseId]}"></h5>
                                                        </td>
                                                        <td>
                                                            <span class="badge-dot bg-success me-1 d-inline-block align-middle"></span>
                                                            Published
                                                        </td>
                                                        <td>
                                                            <!-- Form for changing course status -->
                                                            <form th:action="@{/admin/change-status}" method="post">
                                                                <input type="hidden" name="courseId" th:value="${courseInAd.courseId}" />
                                                                <button th:if="${courseInAd.status == 'published'}" class="btn btn-primary btn-sm" type="submit">Change Status</button>
                                                            </form>
                                                        
                                                            <!-- Form for deleting course -->
                                                            <form th:action="@{/admin/change-status}" method="post" class="d-flex align-items-center">
                                                                <input type="hidden" name="courseId" th:value="${courseInAd.courseId}" />
                                                                <button th:if="${courseInAd.status == 'draft'}" class="btn btn-success btn-sm" type="submit">Publish</button>
                                                                <a th:if="${courseInAd.status == 'draft'}" class="btn btn-outline-secondary btn-sm ms-2" th:href="@{/admin/delete-course/{courseId}(courseId=${courseInAd.courseId})}">Delete</a>
                                                            </form>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <!--Tab pane -->
                                    <div class="tab-pane fade" id="drafts" role="tabpanel" aria-labelledby="drafts-tab">
                                        <div class="table-responsive border-0 overflow-y-hidden">
                                            <table class="table mb-0 text-nowrap table-centered table-hover">
                                                <thead class="table-light">
                                                    <tr>
                                                        <th>Courses</th>
                                                        <th class="text-center">Students Enrolled</th>
                                                        <th>Status</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr th:each="courseInAd : ${coursesInAd}" th:if="${courseInAd.status == 'draft'}">
                                                        <td>
                                                            <a th:href="@{/admin/course(course_id=${courseInAd.courseId})}" class="text-inherit">
                                                                <div class="d-flex align-items-center flex-row gap-3">
                                                                    <div>
                                                                        <img th:src="${courseInAd.image}" alt="" class="img-4by3-lg rounded fixed-image-size2" />
                                                                    </div>
                                                                    <div class="d-flex flex-column gap-1">
                                                                        <h4 class="mb-0 text-primary-hover" th:text="${courseInAd.name}"></h4>
                                                                        <span class="fs-5">Added on <span th:text="${courseInAd.formattedCreatedAt}"></span></span>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <h5 class="mb-0 text-center" th:text="${totalStudentsPerCourse[courseInAd.courseId]}"></h5>
                                                        </td>
                                                        <td>
                                                            <span class="badge-dot bg-warning me-1 d-inline-block align-middle"></span>
                                                            Draft
                                                        </td>
                                                        <td>
                                                            <!-- Form for changing course status -->
                                                            <form th:action="@{/admin/change-status}" method="post">
                                                                <input type="hidden" name="courseId" th:value="${courseInAd.courseId}" />
                                                                <button th:if="${courseInAd.status == 'published'}" class="btn btn-primary btn-sm" type="submit">Change Status</button>
                                                            </form>
                                                        
                                                            <!-- Form for deleting course -->
                                                            <form th:action="@{/admin/change-status}" method="post" class="d-flex align-items-center">
                                                                <input type="hidden" name="courseId" th:value="${courseInAd.courseId}" />
                                                                <button th:if="${courseInAd.status == 'draft'}" class="btn btn-success btn-sm" type="submit">Publish</button>
                                                                <a th:if="${courseInAd.status == 'draft'}" class="btn btn-outline-secondary btn-sm ms-2" th:href="@{/admin/delete-course/{courseId}(courseId=${courseInAd.courseId})}">Delete</a>
                                                            </form>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>

    <!-- Scroll  -->
    <div th:replace="fragments/scroll-to-top.html :: scroll"></div> 

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        feather.replace();
    </script>
</body>
</html>