<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/feather-icons"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" th:href="@{/css/admin.css}"/>
</head>
<body>
    <section class="containe">
        <div class="col-20">
            <div th:replace="fragments/admin-sidebar.html :: admin-sidebar"></div>
        </div>
        <div class="col-80">
            <nav class="navbar-default navbar navbar-expand-lg">
                <div class="ms-lg-3 d-none d-md-none d-lg-block">
                    <form class="d-flex align-items-center">
                        <span class="position-absolute ps-3">
                            <i data-feather="search" class="search-icon"></i>
                        </span>
                        <input type="search" class="form-control ps-6" placeholder="Search Entire Dashboard" />
                    </form>
                </div>
                <div class="ms-auto d-flex">
                    <ul class="navbar-nav navbar-right-wrap ms-2 d-flex nav-top-wrap">
                        <li class="dropdown stopevent">
                            <a
                                class="btn btn-light btn-icon rounded-circle indicator indicator-primary"
                                href="#"
                                role="button"
                                id="dropdownNotification"
                                data-bs-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                                <i data-feather="bell"></i>
                            </a>
                        </li>
                        <li class="dropdown ms-2">
                            <a class="rounded-circle" href="#" role="button" id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="true">
                                <div class="avatar avatar-md avatar-indicators avatar-online">
                                    <img alt="avatar" src="https://geeksui.codescandy.com/geeks/assets/images/avatar/avatar-1.jpg" class="rounded-circle" />
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownUser">
                                <div class="dropdown-item">
                                    <div class="d-flex">
                                        <div class="avatar avatar-md avatar-indicators avatar-online">
                                            <img alt="avatar" src="https://geeksui.codescandy.com/geeks/assets/images/avatar/avatar-1.jpg" class="rounded-circle" />
                                        </div>
                                        <div class="ms-3 lh-1">
                                            <h5 class="mb-1">Annette Black</h5>
                                            <p class="mb-0">annette@geeksui.com</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown-divider"></div>
                                <ul class="list-unstyled">
                                    <li class="dropdown-submenu dropstart-lg">
                                        <a class="dropdown-item dropdown-list-group-item dropdown-toggle" href="#">
                                            <i data-feather="circle" class="sub-icon me-2"></i>
                                            Status
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="../../pages/profile-edit.html">
                                            <i data-feather="user" class="sub-icon me-2"></i>
                                            Profile
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="../../pages/student-subscriptions.html">
                                            <i data-feather="star" class="sub-icon me-2"></i>
                                            Subscription
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <i data-feather="settings" class="sub-icon me-2"></i>
                                            Settings
                                        </a>
                                    </li>
                                </ul>
                                <div class="dropdown-divider"></div>
                                <ul class="list-unstyled">
                                    <li>
                                        <a class="dropdown-item" href="../../index.html">
                                            <i data-feather="power" class=" me-2"></i>
                                            Sign Out
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <section class="container-fluid p-4">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-12">
                        <div class="border-bottom pb-3 mb-3 d-flex flex-column flex-lg-row gap-3 justify-content-between align-items-lg-center">
                            <div>
                                <h1 class="mb-0 h2 fw-bold">Dashboard</h1>
                            </div>
                            <div class="d-flex gap-3">
                                <div class="input-group me-2">
                                    <input class="form-control flatpickr" type="text" placeholder="Select Date" aria-describedby="basic-addon2"  style="height:37.6px;"/>
                                </div>
                                <a href="#" class="btn btn-primary">Setting</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row gy-4 mb-4">
                    <div class="col-xl-3 col-lg-6 col-md-12 col-12">
                        <div class="card">
                            <div class="card-body d-flex flex-column gap-3">
                                <div class="d-flex align-items-center justify-content-between lh-1">
                                    <div>
                                        <span class="fs-6 text-uppercase fw-semibold ls-md">Completed Courses</span>
                                    </div>
                                    <div>
                                        <span class="bi bi-journal-check fs-3 text-primary" style="width: 20px; height: 20px;"></span>
                                    </div>
                                </div>
                                <div class="d-flex flex-column gap-1">
                                    <h2 class="fw-bold mb-0" style="color: #212529;" th:text="${totalCourses}"></h2>
                                    <div class="d-flex flex-row gap-2">
                                        <span class="text-success fw-semibold">
                                            <i data-feather="trending-up" class="me-1" style="max-width: 15px; max-height: 15px;"></i>
                                            +20
                                        </span>
                                        <span class="fw-medium">Number of courses</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-12 col-12">
                        <div class="card">
                            <div class="card-body d-flex flex-column gap-3">
                                <div class="d-flex align-items-center justify-content-between lh-1">
                                    <div>
                                        <span class="fs-6 text-uppercase fw-semibold ls-md">Enrolled Courses</span>
                                    </div>
                                    <div>
                                        <span class="fs-3 text-primary bi bi-person" style="width: 20px; height: 20px;"></span>
                                    </div>
                                </div>
                                <div class="d-flex flex-column gap-1">
                                    <h2 class="fw-bold mb-0" style="color: #212529;" th:text="${totalStudents}"></h2>
                                    <div class="d-flex flex-row gap-2">
                                        <span class="text-danger fw-semibold">120+</span>
                                        <span class="fw-medium">Number of students</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-12 col-12">
                        <div class="card">
                            <div class="card-body d-flex flex-column gap-3">
                                <div class="d-flex align-items-center justify-content-between lh-1">
                                    <div>
                                        <span class="fs-6 text-uppercase fw-semibold ls-md">Course In Progress</span>
                                    </div>
                                    <div>
                                        <span class="fs-3 text-primary bi bi-book" style="width: 20px; height: 20px;"></span>
                                    </div>
                                </div>
                                <div class="d-flex flex-column gap-1">
                                    <h2 class="fw-bold mb-0" style="color: #212529;">1,235</h2>
                                    <div class="d-flex flex-row gap-2">
                                        <span class="text-success fw-semibold">
                                            <i data-feather="trending-up" class="me-1" style="max-width: 15px; max-height: 15px;"></i>
                                            +1200
                                        </span>
                                        <span class="fw-medium">Courses</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-12 col-12">
                        <div class="card">
                            <div class="card-body d-flex flex-column gap-3">
                                <div class="d-flex align-items-center justify-content-between lh-1">
                                    <div>
                                        <span class="fs-6 text-uppercase fw-semibold ls-md">Total Students</span>
                                    </div>
                                    <div>
                                        <span class="fs-3 text-primary bi bi-people" style="width: 20px; height: 20px;"></span>
                                    </div>
                                </div>
                                <div class="d-flex flex-column gap-1">
                                    <h2 class="fw-bold mb-0" style="color: #212529;" th:text="${totalStudents}"></h2>
                                    <div class="d-flex flex-row gap-2">
                                        <span class="text-success fw-semibold">
                                            <i data-feather="trending-up" class="me-1" style="max-width: 15px; max-height: 15px;"></i>
                                            +2
                                        </span>
                                        <span class="fw-medium">Students</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row gy-4">
                    <div class="col-xl-6 col-lg-12 col-md-12 col-12">
                        <div class="card">
                            <div class="card-header d-flex align-items-center justify-content-between card-header-height">
                                <h4 class="mb-0">Featured Students</h4>
                                <a href="/admin/student" class="btn btn-outline-secondary btn-sm fw-semibold">View all</a>
                            </div>
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item px-0 pt-0" th:each="user: ${users}">
                                        <div class="row">
                                            <div class="col-auto">
                                                <div class="avatar avatar-md avatar-indicators avatar-offline">
                                                    <img alt="avatar" th:src="${user.avatar}" class="rounded-circle" />
                                                </div>
                                            </div>
                                            <div class="col ms-n3">
                                                <h4 class="mb-0 h5" th:text="${user.firstname + ' ' + user.lastname}"></h4>
                                                <span class="me-2 fs-6">
                                                    <span class="text-dark me-1 fw-semibold">42</span>
                                                    Courses participating
                                                </span>
                                                <span class="me-2 fs-6">
                                                    <span class="text-dark me-1 fw-semibold">1,10,124</span>
                                                    Completed courses
                                                </span>
                                            </div>
                                            <div class="col-auto">
                                                <span class="dropdown dropstart">
                                                    <a class="btn-icon btn btn-ghost btn-sm rounded-circle" href="#" role="button" id="courseDropdown7" data-bs-toggle="dropdown" data-bs-offset="-20,20" aria-expanded="false">
                                                        <i data-feather="more-vertical" style="width: 14px; height: 14px;"></i>
                                                    </a>
                                                    <span class="dropdown-menu" aria-labelledby="courseDropdown7">
                                                        <span class="dropdown-header">Settings</span>
                                                        <a class="dropdown-item" href="#">
                                                            <i data-feather="edit" class="dropdown-item-icon me-2"></i>
                                                            Edit
                                                        </a>
                                                        <a class="dropdown-item" href="#">
                                                            <i data-feather="trash" class="dropdown-item-icon me-2"></i>
                                                            Remove
                                                        </a>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-12 col-md-12 col-12">
                        <div class="card">
                            <div class="card-header d-flex align-items-center justify-content-between card-header-height">
                                <h4 class="mb-0">Recent Courses</h4>
                                <a href="#" class="btn btn-outline-secondary btn-sm fw-semibold">View all</a>
                            </div>
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item px-0 pt-0">
                                        <div class="row flex-md-row gap-md-0">
                                            <div class="col-md-3 col-12">
                                                <a href="#">
                                                    <img src="https://geeksui.codescandy.com/geeks/assets/images/course/course-laravel.jpg" alt="" class="img-fluid rounded" />
                                                </a>
                                            </div>
                                            <div class="col-md-8 col-10">
                                                <div class="d-flex flex-column gap-2">
                                                    <a href="#">
                                                        <h4 class="text-primary-hover mb-0">Revolutionize how you build the web...</h4>
                                                    </a>
                                                    <ul class="mb-3 list-inline fs-6">
                                                        <li class="list-inline-item">
                                                            <span>
                                                                <i class="bi bi-clock align-baseline"></i>
                                                            </span>
                                                            <span>2h 30m</span>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <svg class="me-1 mt-n1" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE"></rect>
                                                                <rect x="7" y="5" width="2" height="9" rx="1" fill="#754FFE"></rect>
                                                                <rect x="11" y="2" width="2" height="12" rx="1" fill="#DBD8E9"></rect>
                                                            </svg>
                                                            Intermediate
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-1 col-auto d-flex justify-content-center">
                                                <span class="dropdown dropstart">
                                                    <a class="btn-icon btn btn-ghost btn-sm rounded-circle" href="#" role="button" id="courseDropdown7" data-bs-toggle="dropdown" data-bs-offset="-20,20" aria-expanded="false">
                                                        <i data-feather="more-vertical" style="width: 14px; max-height: auto;"></i>
                                                    </a>
                                                    <span class="dropdown-menu" aria-labelledby="courseDropdown7" style="transform: translate3d(-20px, -20px, 0px);">
                                                        <span class="dropdown-header">Settings</span>
                                                        <a class="dropdown-item" href="#">
                                                            <i data-feather="edit" class="dropdown-item-icon me-2"></i>
                                                            Edit
                                                        </a>
                                                        <a class="dropdown-item" href="#">
                                                            <i data-feather="trash" class="dropdown-item-icon me-2"></i>
                                                            Remove
                                                        </a>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item px-0">
                                        <div class="row flex-md-row gap-md-0">
                                            <div class="col-md-3 col-12">
                                                <a href="#">
                                                    <img src="https://geeksui.codescandy.com/geeks/assets/images/course/course-gatsby.jpg" alt="" class="img-fluid rounded" />
                                                </a>
                                            </div>
                                            <div class="col-md-8 col-10">
                                                <div class="d-flex flex-column gap-2">
                                                    <a href="#">
                                                        <h5 class="text-primary-hover mb-0">Guide to Static Sites with Gatsby.js</h5>
                                                    </a>
                                                    <div class="d-flex align-items-center gap-2">
                                                        <img src="https://geeksui.codescandy.com/geeks/assets/images/avatar/avatar-8.jpg" alt="" class="rounded-circle avatar-xs" />
                                                        <span class="fs-6">Jenny Wilson</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-1 col-auto d-flex justify-content-center">
                                                <span class="dropdown dropstart">
                                                    <a class="btn-icon btn btn-ghost btn-sm rounded-circle" href="#" role="button" id="courseDropdown7" data-bs-toggle="dropdown" data-bs-offset="-20,20" aria-expanded="false">
                                                        <i data-feather="more-vertical" style="width: 14px; max-height: auto;"></i>
                                                    </a>
                                                    <span class="dropdown-menu" aria-labelledby="courseDropdown7" style="transform: translate3d(-20px, -20px, 0px);">
                                                        <span class="dropdown-header">Settings</span>
                                                        <a class="dropdown-item" href="#">
                                                            <i data-feather="edit" class="dropdown-item-icon me-2"></i>
                                                            Edit
                                                        </a>
                                                        <a class="dropdown-item" href="#">
                                                            <i data-feather="trash" class="dropdown-item-icon me-2"></i>
                                                            Remove
                                                        </a>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item px-0">
                                        <div class="row flex-md-row gap-md-0">
                                            <div class="col-md-3 col-12">
                                                <a href="#">
                                                    <img src="https://geeksui.codescandy.com/geeks/assets/images/course/course-javascript.jpg" alt="" class="img-fluid rounded" />
                                                </a>
                                            </div>
                                            <div class="col-md-8 col-12">
                                                <div class="d-flex flex-column gap-2">
                                                    <a href="#">
                                                        <h5 class="text-primary-hover mb-0">The Modern JavaScript Courses</h5>
                                                    </a>
                                                    <div class="d-flex align-items-center gap-2">
                                                        <img src="https://geeksui.codescandy.com/geeks/assets/images/avatar/avatar-1.jpg" alt="" class="rounded-circle avatar-xs" />
                                                        <span class="fs-6">Guy Hawkins</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-1 col-auto d-flex justify-content-center">
                                                <span class="dropdown dropstart">
                                                    <a class="btn-icon btn btn-ghost btn-sm rounded-circle" href="#" role="button" id="courseDropdown7" data-bs-toggle="dropdown" data-bs-offset="-20,20" aria-expanded="false">
                                                        <i data-feather="more-vertical" style="width: 14px; max-height: auto;"></i>
                                                    </a>
                                                    <span class="dropdown-menu" aria-labelledby="courseDropdown7" style="transform: translate3d(-20px, -20px, 0px);">
                                                        <span class="dropdown-header">Settings</span>
                                                        <a class="dropdown-item" href="#">
                                                            <i data-feather="edit" class="dropdown-item-icon me-2"></i>
                                                            Edit
                                                        </a>
                                                        <a class="dropdown-item" href="#">
                                                            <i data-feather="trash" class="dropdown-item-icon me-2"></i>
                                                            Remove
                                                        </a>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item px-0">
                                        <div class="row flex-md-rowngap-md-0">
                                            <div class="col-md-3 col-12">
                                                <a href="#">
                                                    <img src="https://geeksui.codescandy.com/geeks/assets/images/course/course-wordpress.jpg" alt="" class="img-fluid rounded" />
                                                </a>
                                            </div>
                                            <div class="col-md-8 col-10">
                                                <div class="d-flex flex-column gap-2">
                                                    <a href="#">
                                                        <h5 class="text-primary-hover mb-0">Online WordPress Courses Become an Expert Today</h5>
                                                    </a>
                                                    <div class="d-flex align-items-center gap-2">
                                                        <img src="https://geeksui.codescandy.com/geeks/assets/images/avatar/avatar-5.jpg" alt="" class="rounded-circle avatar-xs" />
                                                        <span class="fs-6">Robert Fox</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-1 col-auto d-flex justify-content-center">
                                                <span class="dropdown dropstart">
                                                    <a class="btn-icon btn btn-ghost btn-sm rounded-circle" href="#" role="button" id="courseDropdown7" data-bs-toggle="dropdown" data-bs-offset="-20,20" aria-expanded="false">
                                                        <i data-feather="more-vertical" style="width: 14px; max-height: auto;"></i>
                                                    </a>
                                                    <span class="dropdown-menu" aria-labelledby="courseDropdown7" style="transform: translate3d(-20px, -20px, 0px);">
                                                        <span class="dropdown-header">Settings</span>
                                                        <a class="dropdown-item" href="#">
                                                            <i data-feather="edit" class="dropdown-item-icon me-2"></i>
                                                            Edit
                                                        </a>
                                                        <a class="dropdown-item" href="#">
                                                            <i data-feather="trash" class="dropdown-item-icon me-2"></i>
                                                            Remove
                                                        </a>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>

    <!-- Scroll  -->
    <div th:replace="~{fragments/scroll-to-top.html :: scroll}"></div> 

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    
    <script>
        feather.replace();
    </script>
</body>
</html>
