<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course - Course Management System</title>
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/feather-icons"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" th:href="@{/css/navbar.css}"/>
    <style>
        .services-area.services-area2 {
            margin-top: 0;
        }

        .section-padding40 {
            padding-top: 100px;
            padding-bottom: 100px;
        }

        .services-area .single-services {
            display: flex;
            box-shadow: 0px 25px 60px rgba(66, 85, 164, 0.06);
            padding: 29px 24px;
            border-radius: 20px;
            background: #f5f5f5;
        }

        .mb-30 {
            margin-bottom: 30px;
        }

        .services-area .single-services .features-icon {
            position: relative;
            top: 8px;
        }

        .services-area .single-services .features-caption {
            padding-left: 19px;
        }

        .services-area .single-services .features-caption h3 {
            font-size: 20px;
            line-height: 1.2;
            margin-bottom: 10px;
            font-weight: 700;
        }

        .services-area .single-services .features-caption p {
            font-size: 17px;
            line-height: 1.5;
            color: #696969;
            margin-bottom: 0;
        }

        .rounded-pill {
            border-radius: 50rem !important;
        }

        .bg-light-subtle {
            background-color: transparent !important;
        }

        .text-light-emphasis {
            color: #696969 !important;
        }

        .border-light-subtle {
            border-color: #282828 !important;
        }
    </style>
</head>
<body>
    <!-- Nav Bar  -->
    <div th:replace="~{fragments/navbar.html :: navbar}"></div>

    <!-- Hero  -->
    <section class="bg-light position-relative" style="padding-top: 3.5rem; padding-bottom: 2.8rem;">
        <figure class="position-absolute bottom-0 start-0 d-none d-lg-block">
            <svg width="822.2px" height="301.9px" viewBox="0 0 822.2 301.9">
                <path class="fill-warning opacity-5" d="M752.5,51.9c-4.5,3.9-8.9,7.8-13.4,11.8c-51.5,45.3-104.8,92.2-171.7,101.4c-39.9,5.5-80.2-3.4-119.2-12.1 c-32.3-7.2-65.6-14.6-98.9-13.9c-66.5,1.3-128.9,35.2-175.7,64.6c-11.9,7.5-23.9,15.3-35.5,22.8c-40.5,26.4-82.5,53.8-128.4,70.7 c-2.1,0.8-4.2,1.5-6.2,2.2L0,301.9c3.3-1.1,6.7-2.3,10.2-3.5c46.1-17,88.1-44.4,128.7-70.9c11.6-7.6,23.6-15.4,35.4-22.8 c46.7-29.3,108.9-63.1,175.1-64.4c33.1-0.6,66.4,6.8,98.6,13.9c39.1,8.7,79.6,17.7,119.7,12.1C634.8,157,688.3,110,740,64.6 c4.5-3.9,9-7.9,13.4-11.8C773.8,35,797,16.4,822.2,1l-0.7-1C796.2,15.4,773,34,752.5,51.9z"></path>
            </svg>
        </figure>
        <div class="container position-relative">
            <div class="row">
                <div class="col-12">
                    <div class="row align-items-center">
                        <div class="col-6 col-md-3 text-center order-1">
                            <img src="https://eduport.webestica.com/assets/images/element/category-1.svg" alt="">
                        </div>
                        <div class="col-md-6 px-md-5 text-center position-relative order-md-2 mb-5 mb-md-0">
                            <figure class="position-absolute top-0 start-0">	
                                <svg width="22px" height="22px" viewBox="0 0 22 22">
                                    <polygon class="fill-orange" points="22,8.3 13.7,8.3 13.7,0 8.3,0 8.3,8.3 0,8.3 0,13.7 8.3,13.7 8.3,22 13.7,22 13.7,13.7 22,13.7 "></polygon>
                                </svg>
                            </figure>
                            <figure class="position-absolute top-0 start-50 translate-middle mt-n6 d-none d-md-block">
                                <svg width="27px" height="27px">
                                    <path class="fill-purple" d="M13.122,5.946 L17.679,-0.001 L17.404,7.528 L24.661,5.946 L19.683,11.533 L26.244,15.056 L18.891,16.089 L21.686,23.068 L15.400,19.062 L13.122,26.232 L10.843,19.062 L4.557,23.068 L7.352,16.089 L-0.000,15.056 L6.561,11.533 L1.582,5.946 L8.839,7.528 L8.565,-0.001 L13.122,5.946 Z"></path>
                                </svg>
                            </figure>
                            <h1 class="mb-3">What do you want to learn?</h1>
                            <p class="mb-3">Grow your skill with the most reliable online courses and certifications</p>
                            <form class="bg-body rounded p-2">
                                <div class="input-group">
                                    <input class="form-control border-0 me-1" type="search" placeholder="Search course ">
                                    <button type="button" class="btn btn-dark mb-0 rounded">Search</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-6 col-md-3 text-center order-3">
                            <img src="https://eduport.webestica.com/assets/images/element/category-2.svg" alt="">
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </section>

    <!-- Courses  -->
    <section class="py-lg-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-xxl-3 col-lg-4 col-12">
                    <div class="d-flex flex-column">
                        <div class="d-flex flex-row align-items-center justify-content-between mt-2 mb-3">
                            <div class="d-flex flex-row gap-2 align-items-center">
                                <a class="text-inherit d-none d-lg-flex gap-2">
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sliders text-dark" viewBox="0 0 16 16">
                                            <path
                                                fill-rule="evenodd"
                                                d="M11.5 2a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3M9.05 3a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0V3zM4.5 7a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3M2.05 8a2.5 2.5 0 0 1 4.9 0H16v1H6.95a2.5 2.5 0 0 1-4.9 0H0V8zm9.45 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3m-2.45 1a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0v-1z" />
                                        </svg>
                                    </span>
                                    <span class="fw-semibold text-dark">Filters</span>
                                </a>
                            </div>
                            <div>
                                <button id="clearButton" style="display: none" class="btn btn-light border btn-sm">
                                    <span class="h6">Clear</span>
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                                            <path
                                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                                        </svg>
                                    </span>
                                </button>
                            </div>
                        </div>
                        <div>
                            <form>
                                <div class="pt-0 p-lg-0">
                                    <div class="d-flex flex-column gap-3">
                                        <div class="card">
                                            <div class="card-body p-3">
                                                <div class="fs-5">
                                                    <a
                                                        class="d-flex align-items-center h4 mb-0 justify-content-between"
                                                        data-bs-toggle="collapse"
                                                        href="#coursTopic"
                                                        role="button"
                                                        aria-expanded="true"
                                                        aria-controls="coursTopic">
                                                        <div>Topic</div>
                                                        <span class="chevron-arrow ms-4">
                                                            <i class="fe fe-chevron-down fs-4"></i>
                                                        </span>
                                                    </a>
                                                    <div class="collapse show" id="coursTopic" data-bs-parent="#courseAccordion">
                                                        <div class="d-flex flex-column">
                                                            <ul class="list-unstyled mb-1 d-flex flex-column gap-1 mt-3">
                                                                <li class="d-flex flex-row gap-2">
                                                                    <div class="form-check">
                                                                        <input class="form-check-input filter-checkbox" type="checkbox" value="Data Science" id="data-science" />
                                                                        <label class="form-check-label text-secondary" for="data-science">Data Science</label>
                                                                    </div>
                                                                </li>
                                                                <li class="d-flex flex-row gap-2">
                                                                    <div class="form-check">
                                                                        <input class="form-check-input filter-checkbox" type="checkbox" value="Programming" id="programming" />
                                                                        <label class="form-check-label text-secondary" for="programming">Programming</label>
                                                                    </div>
                                                                </li>
                                                                <li class="d-flex flex-row gap-2">
                                                                    <div class="form-check">
                                                                        <input class="form-check-input filter-checkbox" type="checkbox" value="Web Development" id="web-development" />
                                                                        <label class="form-check-label text-secondary" for="web-development">Web Development</label>
                                                                    </div>
                                                                </li>
                                                                <li class="d-flex flex-row gap-2">
                                                                    <div class="form-check">
                                                                        <input class="form-check-input filter-checkbox" type="checkbox" value="Artificial Intelligence" id="artifical-intelligence" />
                                                                        <label class="form-check-label text-secondary" for="artifical-intelligence">Artificial Intelligence</label>
                                                                    </div>
                                                                </li>
                                                                <li class="d-flex flex-row gap-2">
                                                                    <div class="form-check">
                                                                        <input class="form-check-input filter-checkbox" type="checkbox" value="UI/UX Design" id="uiux-design" />
                                                                        <label class="form-check-label text-secondary" for="uiux-design">UI/UX Design</label>
                                                                    </div>
                                                                </li>
                                                                <li class="d-flex flex-row gap-2">
                                                                    <div class="form-check">
                                                                        <input class="form-check-input filter-checkbox" type="checkbox" name="flexGatsby" id="flexGatsby" />
                                                                        <label class="form-check-label text-secondary" for="flexGatsby">Cloud Computing</label>
                                                                    </div>
                                                                </li>
                                                                <li class="d-flex flex-row gap-2">
                                                                    <div class="form-check">
                                                                        <input class="form-check-input filter-checkbox" type="checkbox" name="flexGraphic" id="flexGraphic" />
                                                                        <label class="form-check-label text-secondary" for="flexGraphic">Mobile App Development</label>
                                                                    </div>
                                                                </li>
                                                                <li class="d-flex flex-row gap-2">
                                                                    <div class="form-check">
                                                                        <input class="form-check-input filter-checkbox" type="checkbox" name="flexVuejs" id="flexVuejs" />
                                                                        <label class="form-check-label text-secondary" for="flexVuejs">Cyber Security</label>
                                                                    </div>
                                                                </li>
                                                                <li class="d-flex flex-row gap-2">
                                                                    <div class="form-check">
                                                                        <input class="form-check-input filter-checkbox" type="checkbox" name="flexJavascript1" id="flexJavascript1" />
                                                                        <label class="form-check-label text-secondary" for="flexJavascript1">Blockchain</label>
                                                                    </div>
                                                                </li>
                                                                <li class="d-flex flex-row gap-2">
                                                                    <div class="form-check">
                                                                        <input class="form-check-input filter-checkbox" type="checkbox" name="flexSCSS" id="flexSCSS" />
                                                                        <label class="form-check-label text-secondary" for="flexSCSS">Network Administration</label>
                                                                    </div>
                                                                </li>
                                                                <li class="d-flex flex-row gap-2">
                                                                    <div class="form-check">
                                                                        <input class="form-check-input filter-checkbox" type="checkbox" name="flexSCSS" id="flexSCSS" />
                                                                        <label class="form-check-label text-secondary" for="flexSCSS">Virtual Reality</label>
                                                                    </div>
                                                                </li>
                                                                <li class="d-flex flex-row gap-2">
                                                                    <div class="form-check">
                                                                        <input class="form-check-input filter-checkbox" type="checkbox" name="flexSCSS" id="flexSCSS" />
                                                                        <label class="form-check-label text-secondary" for="flexSCSS">Database Management</label>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-body p-3">
                                                <div class="fs-5">
                                                    <a
                                                        class="d-flex align-items-center h4 mb-0 justify-content-between"
                                                        data-bs-toggle="collapse"
                                                        href="#coursSkill"
                                                        role="button"
                                                        aria-expanded="true"
                                                        aria-controls="coursSkill">
                                                        <div>Skill Level</div>
                                                        <span class="chevron-arrow ms-4">
                                                            <i class="fe fe-chevron-down fs-4"></i>
                                                        </span>
                                                    </a>
                                                    <div class="collapse show" id="coursSkill" data-bs-parent="#courseAccordion">
                                                        <ul class="list-unstyled mb-0 d-flex flex-column gap-1 mt-3">
                                                            <li class="d-flex flex-row gap-2">
                                                                <div class="form-check">
                                                                    <input class="form-check-input filter-checkbox" type="checkbox" value="Beginner" id="flexCheckBeginner" />
                                                                    <label class="form-check-label" for="flexCheckBeginner">Beginner</label>
                                                                </div>
                                                            </li>
                                                            <li class="d-flex flex-row gap-2">
                                                                <div class="form-check">
                                                                    <input class="form-check-input filter-checkbox" type="checkbox" value="Intermediate" id="flexCheckIntermediate" />
                                                                    <label class="form-check-label" for="flexCheckIntermediate">Intermediate</label>
                                                                </div>
                                                            </li>
                                                            <li class="d-flex flex-row gap-2">
                                                                <div class="form-check">
                                                                    <input class="form-check-input filter-checkbox" type="checkbox" value="Advanced" id="flexCheckAdvanced" />
                                                                    <label class="form-check-label" for="flexCheckAdvanced">Advanced</label>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-body p-3">
                                                <div class="fs-5">
                                                    <a
                                                        class="d-flex align-items-center h4 mb-0 justify-content-between"
                                                        data-bs-toggle="collapse"
                                                        href="#coursRating"
                                                        role="button"
                                                        aria-expanded="false"
                                                        aria-controls="coursRating">
                                                        <div>Rating</div>
                                                        <span class="chevron-arrow ms-4">
                                                            <i class="fe fe-chevron-down fs-4"></i>
                                                        </span>
                                                    </a>
                                                    <div class="collapse show" id="coursRating" data-bs-parent="#courseAccordion">
                                                        <ul class="list-unstyled mb-0 d-flex flex-column gap-1 mt-3">
                                                            <li class="d-flex flex-row gap-2">
                                                                <div class="form-check d-flex align-items-center gap-2">
                                                                    <input class="form-check-input filter-checkbox" type="radio" name="flexRatting" id="flexRatting1" value="4.5" />
                                                                    <label class="form-check-label d-flex align-text-bottom lh-1 gap-2" for="flexRatting1">
                                                                        <div class="lh-1">
                                                                            <span class="align-text-top">
                                                                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-star-fill text-warning" viewBox="0 0 16 16">
                                                                                    <path
                                                                                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                                                                </svg>
                                                                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-star-fill text-warning" viewBox="0 0 16 16">
                                                                                    <path
                                                                                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                                                                </svg>
                                                                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-star-fill text-warning" viewBox="0 0 16 16">
                                                                                    <path
                                                                                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                                                                </svg>
                                                                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-star-fill text-warning" viewBox="0 0 16 16">
                                                                                    <path
                                                                                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                                                                </svg>
                                                                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-star-fill text-warning" viewBox="0 0 16 16">
                                                                                    <path
                                                                                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                                                                </svg>
                                                                            </span>
                                                                            4.5 & up
                                                                            <span class="text-secondary">(13,245)</span>
                                                                        </div>
                                                                    </label>
                                                                </div>
                                                            </li>
                                                            <li class="d-flex flex-row gap-2">
                                                                <div class="form-check d-flex align-items-center gap-2">
                                                                    <input class="form-check-input filter-checkbox" type="radio" name="flexRatting" id="flexRatting2" value="4.0"/>
                                                                    <label class="form-check-label d-flex align-text-bottom lh-1 gap-2" for="flexRatting2">
                                                                        <div class="d-flex flex-row align-items-center gap-2">
                                                                            <span class="">
                                                                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-star-fill text-warning" viewBox="0 0 16 16">
                                                                                    <path
                                                                                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                                                                </svg>
                                                                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-star-fill text-warning" viewBox="0 0 16 16">
                                                                                    <path
                                                                                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                                                                </svg>
                                                                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-star-fill text-warning" viewBox="0 0 16 16">
                                                                                    <path
                                                                                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                                                                </svg>
                                                                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-star-fill text-warning" viewBox="0 0 16 16">
                                                                                    <path
                                                                                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                                                                </svg>
                                                                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-star text-warning" viewBox="0 0 16 16">
                                                                                    <path
                                                                                    d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z" />
                                                                                </svg>
                                                                            </span>
                                                                            4.0 & up
                                                                            <span class="text-secondary">(3,245)</span>
                                                                        </div>
                                                                    </label>
                                                                </div>
                                                            </li>
                                                            <li class="d-flex flex-row gap-2">
                                                                <div class="form-check d-flex align-items-center gap-2">
                                                                    <input class="form-check-input filter-checkbox" type="radio" name="flexRatting" id="flexRatting3" value="3.5"/>
                                                                    <label class="form-check-label d-flex align-text-bottom lh-1 gap-2" for="flexRatting3">
                                                                        <div class="d-flex flex-row align-items-center gap-2">
                                                                            <span class="">
                                                                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-star-fill text-warning" viewBox="0 0 16 16">
                                                                                    <path
                                                                                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                                                                </svg>
                                                                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-star-fill text-warning" viewBox="0 0 16 16">
                                                                                    <path
                                                                                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                                                                </svg>
                                                                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-star-fill text-warning" viewBox="0 0 16 16">
                                                                                    <path
                                                                                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                                                                </svg>
                                                                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-star-half text-warning" viewBox="0 0 16 16">
                                                                                    <path
                                                                                    d="M5.354 5.119 7.538.792A.52.52 0 0 1 8 .5c.183 0 .366.097.465.292l2.184 4.327 4.898.696A.54.54 0 0 1 16 6.32a.55.55 0 0 1-.17.445l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256a.5.5 0 0 1-.146.05c-.342.06-.668-.254-.6-.642l.83-4.73L.173 6.765a.55.55 0 0 1-.172-.403.6.6 0 0 1 .085-.302.51.51 0 0 1 .37-.245zM8 12.027a.5.5 0 0 1 .232.056l3.686 1.894-.694-3.957a.56.56 0 0 1 .162-.505l2.907-2.77-4.052-.576a.53.53 0 0 1-.393-.288L8.001 2.223 8 2.226z" />
                                                                                </svg>
                                                                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-star-half text-warning" viewBox="0 0 16 16">
                                                                                    <path
                                                                                    d="M5.354 5.119 7.538.792A.52.52 0 0 1 8 .5c.183 0 .366.097.465.292l2.184 4.327 4.898.696A.54.54 0 0 1 16 6.32a.55.55 0 0 1-.17.445l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256a.5.5 0 0 1-.146.05c-.342.06-.668-.254-.6-.642l.83-4.73L.173 6.765a.55.55 0 0 1-.172-.403.6.6 0 0 1 .085-.302.51.51 0 0 1 .37-.245zM8 12.027a.5.5 0 0 1 .232.056l3.686 1.894-.694-3.957a.56.56 0 0 1 .162-.505l2.907-2.77-4.052-.576a.53.53 0 0 1-.393-.288L8.001 2.223 8 2.226z" />
                                                                                </svg>
                                                                            </span>
                                                                            3.5 & up
                                                                            <span class="text-secondary">(2,120)</span>
                                                                        </div>
                                                                    </label>
                                                                </div>
                                                            </li>
                                                            <li class="d-flex flex-row gap-2">
                                                                <div class="form-check d-flex align-items-center gap-2">
                                                                    <input class="form-check-input filter-checkbox" type="radio" name="flexRatting" id="flexRatting4" value="3.0"/>
                                                                    <label class="form-check-label d-flex align-text-bottom lh-1 gap-2" for="flexRatting4">
                                                                        <div class="d-flex flex-row align-items-center gap-2">
                                                                            <span class="">
                                                                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-star-fill text-warning" viewBox="0 0 16 16">
                                                                                    <path
                                                                                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                                                                </svg>
                                                                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-star-fill text-warning" viewBox="0 0 16 16">
                                                                                    <path
                                                                                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                                                                </svg>
                                                                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-star-fill text-warning" viewBox="0 0 16 16">
                                                                                    <path
                                                                                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                                                                </svg>
                                                                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-star text-warning" viewBox="0 0 16 16">
                                                                                    <path
                                                                                    d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z" />
                                                                                </svg>
                                                                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-star text-warning" viewBox="0 0 16 16">
                                                                                    <path
                                                                                    d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z" />
                                                                                </svg>
                                                                            </span>
                                                                            3.0 & up
                                                                            <span class="text-secondary">(2,245)</span>
                                                                        </div>
                                                                    </label>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="btn btn-primary btn-sm my-1" id="applyFilter">Apply Filter</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-9 col-12">
                    <div class="d-flex flex-column gap-3">
                        <div class="d-flex flex-row align-items-center justify-content-end">
                            <div class="col-xl-2 col-md-4 col-6">
                                <div class="">
                                    <label for="single-select" class="visually-hidden">Sorting</label>
                                    <select id="single-select" class="form-select fs-5" data-choices>
                                        <option selected>Sorting</option>
                                        <option value="Newest">Newest</option>
                                        <option value="Free">Free</option>
                                        <option value="Most Popular">Most Popular</option>
                                        <option value="Highest Rated">Highest Rated</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row gy-4" >
                            <div class="col-xl-4 col-md-6 col-12" th:each="course : ${courses}" id="courseResults">
                                <div class="card card-lift">
                                    <a th:href="@{/course(course_id=${course.courseId})}">
                                        <img th:src="${course.image}" class="card-img-top img-fluid w-100 fixed-image-size" />
                                    </a>
                                    <div class="card-body d-flex flex-column gap-4">
                                        <div class="d-flex flex-column gap-2">
                                            <div>
                                                <span class="badge text-light-emphasis bg-light-subtle border border-light-subtle rounded-pill" th:text="${course.category}"></span>
                                            </div>
                                            <h3 class="mb-0 h4">
                                                <a th:href="@{/course(course_id=${course.courseId})}" class="text-inherit" th:text="${course.name}"></a>
                                            </h3>
                                            <ul class="mb-3 list-inline">
                                                <li class="list-inline-item">
                                                    <span>
                                                        <i class="bi bi-clock align-baseline"></i>
                                                    </span>
                                                    <span th:text="${course.formattedDuration}"></span>
                                                </li>
                                                <li class="list-inline-item">
                                                    <svg class="me-1 mt-n1" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <rect x="3" y="8" width="2" height="6" rx="1" th:attr="fill=${course.skillLevel == 'beginner' || course.skillLevel == 'intermediate' || course.skillLevel == 'advanced' ? '#754FFE' : '#DBD8E9'}"></rect>
                                                        <rect x="7" y="5" width="2" height="9" rx="1" th:attr="fill=${course.skillLevel == 'intermediate' || course.skillLevel == 'advanced' ? '#754FFE' : '#DBD8E9'}"></rect>
                                                        <rect x="11" y="2" width="2" height="12" rx="1" th:attr="fill=${course.skillLevel == 'advanced' ? '#754FFE' : '#DBD8E9'}"></rect>
                                                    </svg>
                                                    <span th:text="${course.skillLevel}"></span>
                                                </li>
                                            </ul>
                                            <div class="lh-1">
                                                <span class="text-secondary fw-semibold" th:text="${courseRatings[course.courseId]}"></span>
                                                <span class="align-text-top fs-4">
                                                    <i th:class="(${courseRatings[course.courseId] >= 1.0 ? 'fas fa-star' : 'far fa-star'}) + ' text-warning'" width="12px" height="12px"></i>
                                                    <i th:class="(${courseRatings[course.courseId] >= 2.0 ? 'fas fa-star' : 'far fa-star'}) + ' text-warning'" width="12px" height="12px"></i>
                                                    <i th:class="(${courseRatings[course.courseId] >= 3.0 ? 'fas fa-star' : 'far fa-star'}) + ' text-warning'" width="12px" height="12px"></i>
                                                    <i th:class="(${courseRatings[course.courseId] >= 4.0 ? 'fas fa-star' : 'far fa-star'}) + ' text-warning'" width="12px" height="12px"></i>
                                                    <i th:class="(${courseRatings[course.courseId] >= 5.0 ? 'fas fa-star' : 'far fa-star'}) + ' text-warning'" width="12px" height="12px"></i>
                                                </span>
                                                <span class="text-gray-500" th:text="'(' + ${courseReviewCounts[course.courseId]} + ')'"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="row align-items-center g-0">
                                            <div class="col">
                                                <a class="text-uppercase fs-6 view fw-medium" th:href="@{/course(course_id=${course.courseId})}">View Course 
                                                    <i data-feather="chevron-right" width="12" height="12" class="icon-view"></i>
                                                </a>
                                            </div>
                                            <div class="col-auto">
                                                <a href="#" class="text-reset bookmark">
                                                    <i data-feather="bookmark" class="icon-hover fs-4"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer  -->
    <div th:replace="fragments/footer.html :: footer"></div>

    <script>
        const checkboxes = document.querySelectorAll(".filter-checkbox")
        , clearButton = document.getElementById("clearButton");

        function updateClearButtonVisibility() {
            var e = Array.from(checkboxes).some(e => e.checked);
            clearButton.style.display = e ? "block" : "none";
        }

        checkboxes.forEach(e => {
            e.addEventListener("change", updateClearButtonVisibility)
        }
        ),

        clearButton.addEventListener("click", function() {
            checkboxes.forEach(e => e.checked = !1),
            clearButton.style.display = "none";
        });
    </script>

    <!-- Scroll  -->
    <div th:replace="~{fragments/scroll-to-top.html :: scroll}"></div> 

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        feather.replace();
    </script>
</body>
</html>