<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Account - Course Management System</title>
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/feather-icons"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" th:href="@{/css/navbar.css}"/>
    <style>
        .text-truncate-line-2 {
            max-height: 3rem;
            overflow: hidden;
        }

        .text-label {
            font-family: Inter, sans-serif;
            font-weight: 600;
            font-size: medium;
            margin-bottom: 4px;
        }

        .text-input {
            font-family: Inter, sans-serif;
            font-size: 0.9rem;
        }
    </style>
</head>
<body>
    <!-- Nav Bar -->
    <div th:replace="~{fragments/navbar.html :: navbar}"></div>

    <!-- Profile -->
    <div class="container pt-4">
        <div th:replace="fragments/profile.html :: profile"></div>
    </div>

    <!-- Course -->
    <section class="pb-5 py-md-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Tab Nav -->
                    <ul class="nav nav-lb-tab mb-6" id="tab" role="tablist" style="border-bottom: 1px solid #212529;">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="learning-tab" data-bs-toggle="pill" href="#learning" role="tab" aria-controls="learning" aria-selected="true">Learning</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="completed-tab" data-bs-toggle="pill" href="#completed" role="tab" aria-controls="completed" aria-selected="false">Completed</a>
                        </li>
                        <li class="nav-item ms-0" role="presentation">
                            <a class="nav-link" id="dropped-tab" data-bs-toggle="pill" href="#dropped" role="tab" aria-controls="dropped" aria-selected="false">Dropped</a>
                        </li>
                    </ul>
                    <!-- Tab Content -->
                    <div class="tab-content" id="tabContent">
                        <!-- Bookmark -->
                        <div class="tab-pane fade" id="dropped" role="tabpanel" aria-labelledby="dropped-tab">
                            <div class="row" th:if="${#lists.size(droppeds) > 0}">
                                <div class="col-lg-3 col-md-6 col-12" th:each="dropped : ${droppeds}">
                                    <div class="card mb-4 card-hover">
                                        <a th:href="@{/course(course_id=${dropped.courseId})}"><img th:src="${dropped.image}" alt="course" class="card-img-top fixed-image-size"></a>
                                        <div class="card-body">
                                            <h3 class="h4 mb-2 text-truncate-line-2"><a th:href="@{/course(course_id=${dropped.courseId})}" class="text-inherit text-dark-hover" th:text="${dropped.name}"></a></h3>
                                            <ul class="mb-3 list-inline" style="vertical-align: text-bottom;">
                                                <li class="list-inline-item">
                                                    <span class="align-text-bottom">
                                                        <i class="clock-icon" data-feather="clock"></i>    
                                                    </span>
                                                    <span class="fs-5" th:text="${dropped.formattedDuration}"></span>
                                                </li>
                                                <li class="list-inline-item">
                                                    <svg class="me-1 mt-n1" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <rect x="3" y="8" width="2" height="6" rx="1" th:attr="fill=${dropped.skillLevel == 'beginner' || dropped.skillLevel == 'intermediate' || dropped.course.skillLevel == 'advanced' ? '#754FFE' : '#DBD8E9'}"></rect>
                                                        <rect x="7" y="5" width="2" height="9" rx="1" th:attr="fill=${dropped.skillLevel == 'intermediate' || dropped.skillLevel == 'advanced' ? '#754FFE' : '#DBD8E9'}"></rect>
                                                        <rect x="11" y="2" width="2" height="12" rx="1" th:attr="fill=${dropped.skillLevel == 'advanced' ? '#754FFE' : '#DBD8E9'}"></rect>
                                                    </svg>
                                                    <span class="fs-5" th:text="${dropped.skillLevel}"></span>
                                                </li>
                                            </ul>
                                            <div class="mt-3 d-flex align-baseline lh-1">
                                                <span class="text-secondary fw-semibold" style="vertical-align: text-bottom;" th:text="${droppedRatings[dropped.courseId]}"></span>
                                                <span class="fs-6 ms-1">
                                                    <i th:class="(${droppedRatings[dropped.courseId] >= 1.0 ? 'fas fa-star' : (droppedRatings[dropped.courseId] >= 0.5 ? 'fas fa-star-half-alt' : 'far fa-star')}) + ' text-warning'" style="vertical-align: text-bottom;" width="10px" height="10px"></i>
                                                    <i th:class="(${droppedRatings[dropped.courseId] >= 2.0 ? 'fas fa-star' : (droppedRatings[dropped.courseId] >= 1.5 ? 'fas fa-star-half-alt' : 'far fa-star')}) + ' text-warning'" style="vertical-align: text-bottom;" width="10px" height="10px"></i>
                                                    <i th:class="(${droppedRatings[dropped.courseId] >= 3.0 ? 'fas fa-star' : (droppedRatings[dropped.courseId] >= 2.5 ? 'fas fa-star-half-alt' : 'far fa-star')}) + ' text-warning'" style="vertical-align: text-bottom;" width="10px" height="10px"></i>
                                                    <i th:class="(${droppedRatings[dropped.courseId] >= 4.0 ? 'fas fa-star' : (droppedRatings[dropped.courseId] >= 3.5 ? 'fas fa-star-half-alt' : 'far fa-star')}) + ' text-warning'" style="vertical-align: text-bottom;" width="10px" height="10px"></i>
                                                    <i th:class="(${droppedRatings[dropped.courseId] >= 5.0 ? 'fas fa-star' : (droppedRatings[dropped.courseId] >= 4.5 ? 'fas fa-star-half-alt' : 'far fa-star')}) + ' text-warning'" style="vertical-align: text-bottom;" width="10px" height="10px"></i>
                                                </span>
                                                <span class="text-gray-500 ms-1" style="vertical-align: text-bottom;" th:text="'(' + ${droppedReviews[dropped.courseId]} + ')'"></span>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <div class="row align-items-center g-0">
                                                <div class="col">
                                                    <a class="text-uppercase fs-6 view fw-medium" th:href="@{/course(course_id=${dropped.courseId})}">View Course 
                                                        <i data-feather="chevron-right" width="12" height="12" class="icon-view"></i>
                                                    </a>
                                                </div>
                                                <div class="col-auto">
                                                    <a href="#" class="removeBookmark">
                                                        <i class="bi bi-bookmark-fill" style="color: #5A87C7;"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" th:if="${#lists.size(droppeds) > 0}">
                                <div class="offset-lg-3 col-lg-6 col-md-12 col-12 text-center mt-5">
                                    <p>You’ve reached the end of the list</p>
                                </div>
                            </div>
                            <div class="row" th:if="${#lists.size(droppeds) == 0}">
                                <div class="offset-lg-3 col-lg-6 col-md-12 col-12 text-center mt-5">
                                    <p>You haven’t dropped any courses yet.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Learning  -->
                        <div class="tab-pane fade show active" id="learning" role="tabpanel" aria-labelledby="learning-tab">
                            <div class="row" th:if="${#lists.size(learnings) > 0}">
                                <div class="col-lg-3 col-md-6 col-12" th:each="learning : ${learnings}">
                                    <div class="card mb-4 card-hover">
                                        <a th:href="@{/course(course_id=${learning.courseId})}"><img th:src="${learning.image}" alt="course" class="card-img-top fixed-image-size"></a>
                                        <div class="card-body">
                                            <h3 class="h4 mb-2 text-truncate-line-2"><a th:href="@{/course(course_id=${learning.courseId})}" class="text-inherit text-dark-hover" th:text="${learning.name}"></a></h3>
                                             <ul class="mb-3 list-inline" style="vertical-align: text-bottom;">
                                                <li class="list-inline-item" >
                                                    <span class="align-text-bottom" >
                                                        <i class="clock-icon" data-feather="clock"></i>    
                                                    </span>
                                                    <span class="fs-5" th:text="${learning.formattedDuration}"></span>
                                                </li>
                                                <li class="list-inline-item" style="vertical-align: text-bottom;">
                                                    <svg class="me-1 mt-n1" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <rect x="3" y="8" width="2" height="6" rx="1" th:attr="fill=${learning.skillLevel == 'beginner' || learning.skillLevel == 'intermediate' || learning.skillLevel == 'advanced' ? '#754FFE' : '#DBD8E9'}"></rect>
                                                        <rect x="7" y="5" width="2" height="9" rx="1" th:attr="fill=${learning.skillLevel == 'intermediate' || learning.skillLevel == 'advanced' ? '#754FFE' : '#DBD8E9'}"></rect>
                                                        <rect x="11" y="2" width="2" height="12" rx="1" th:attr="fill=${learning.skillLevel == 'advanced' ? '#754FFE' : '#DBD8E9'}"></rect>
                                                    </svg>
                                                    <span class="fs-5" th:text="${learning.skillLevel}"></span>
                                                </li>
                                            </ul>
                                            <div class="mt-3 align-baseline lh-1">
                                                <span class="text-secondary fw-semibold" style="vertical-align: text-bottom;" th:text="${learningRatings[learning.courseId]}"></span>
                                                <span class="fs-6 ms-1">
                                                    <i th:class="(${learningRatings[learning.courseId] >= 1.0 ? 'fas fa-star' : (learningRatings[learning.courseId] >= 0.5 ? 'fas fa-star-half-alt' : 'far fa-star')}) + ' text-warning'" style="vertical-align: text-bottom;" width="10px" height="10px"></i>
                                                    <i th:class="(${learningRatings[learning.courseId] >= 2.0 ? 'fas fa-star' : (learningRatings[learning.courseId] >= 1.5 ? 'fas fa-star-half-alt' : 'far fa-star')}) + ' text-warning'" style="vertical-align: text-bottom;" width="10px" height="10px"></i>
                                                    <i th:class="(${learningRatings[learning.courseId] >= 3.0 ? 'fas fa-star' : (learningRatings[learning.courseId] >= 2.5 ? 'fas fa-star-half-alt' : 'far fa-star')}) + ' text-warning'" style="vertical-align: text-bottom;" width="10px" height="10px"></i>
                                                    <i th:class="(${learningRatings[learning.courseId] >= 4.0 ? 'fas fa-star' : (learningRatings[learning.courseId] >= 3.5 ? 'fas fa-star-half-alt' : 'far fa-star')}) + ' text-warning'" style="vertical-align: text-bottom;" width="10px" height="10px"></i>
                                                    <i th:class="(${learningRatings[learning.courseId] >= 5.0 ? 'fas fa-star' : (learningRatings[learning.courseId] >= 4.5 ? 'fas fa-star-half-alt' : 'far fa-star')}) + ' text-warning'" style="vertical-align: text-bottom;" width="10px" height="10px"></i>
                                                </span>
                                                <span class="text-gray-500 ms-1" style="vertical-align: text-bottom;" th:text="'(' + ${learningReviews[learning.courseId]} + ')'"></span>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <div class="row align-items-center g-0">
                                                <div class="col">
                                                    <a class="text-uppercase fs-6 view fw-medium" th:href="@{/course(course_id=${learning.courseId})}">View Course 
                                                        <i data-feather="chevron-right" width="12" height="12" class="icon-view"></i>
                                                    </a>
                                                </div>
                                                <div class="col-auto">
                                                    <a href="#" class="removeBookmark">
                                                        <i class="bi bi-bookmark-fill" style="color: #5A87C7;"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" th:if="${#lists.size(learnings) > 0}">
                                <div class="offset-lg-3 col-lg-6 col-md-12 col-12 text-center mt-5">
                                    <p>You’ve reached the end of the list</p>
                                </div>
                            </div>
                            <div class="row" th:if="${#lists.size(learnings) == 0}">
                                <div class="offset-lg-3 col-lg-6 col-md-12 col-12 text-center mt-5">
                                    <p>You don't have any learning courses at the moment.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Completed -->
                        <div class="tab-pane fade" id="completed" role="tabpanel" aria-labelledby="completed-tab">
                            <div class="row" th:if="${#lists.size(completeds) > 0}">
                                <div class="col-lg-3 col-md-6 col-12" th:each="completed : ${completeds}">
                                    <div class="card mb-4 card-hover">
                                        <a th:href="@{/course(course_id=${completed.courseId})}"><img th:src="${completed.image}" alt="course" class="card-img-top fixed-image-size"></a>
                                        <div class="card-body">
                                            <h3 class="h4 mb-2 text-truncate-line-2"><a href="#" class="text-inherit text-dark-hover" th:text="${completed.name}"></a></h3>
                                            <ul class="mb-3 list-inline" style="vertical-align: text-bottom;">
                                                <li class="list-inline-item">
                                                    <span class="align-text-bottom">
                                                        <i class="clock-icon" data-feather="clock"></i>    
                                                    </span>
                                                    <span class="fs-5" th:text="${completed.formattedDuration}"></span>
                                                </li>
                                                <li class="list-inline-item">
                                                    <svg class="me-1 mt-n1" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <rect x="3" y="8" width="2" height="6" rx="1" th:attr="fill=${completed.skillLevel == 'beginner' || completed.skillLevel == 'intermediate' || completed.skillLevel == 'advanced' ? '#754FFE' : '#DBD8E9'}"></rect>
                                                        <rect x="7" y="5" width="2" height="9" rx="1" th:attr="fill=${completed.skillLevel == 'intermediate' || completed.skillLevel == 'advanced' ? '#754FFE' : '#DBD8E9'}"></rect>
                                                        <rect x="11" y="2" width="2" height="12" rx="1" th:attr="fill=${completed.skillLevel == 'advanced' ? '#754FFE' : '#DBD8E9'}"></rect>
                                                    </svg>
                                                    <span class="fs-5" th:text="${completed.skillLevel}" ></span>
                                                </li>
                                            </ul>
                                            <div class="mt-3 d-flex align-baseline lh-1">
                                                <span class="text-secondary fw-semibold" th:text="${completedRatings[completed.courseId]}"></span>
                                                <span class="fs-6 ms-1">
                                                    <i th:class="(${completedRatings[completed.courseId] >= 1.0 ? 'fas fa-star' : (completedRatings[completed.courseId] >= 0.5 ? 'fas fa-star-half-alt' : 'far fa-star')}) + ' text-warning'" style="vertical-align: text-bottom;" width="10px" height="10px"></i>
                                                    <i th:class="(${completedRatings[completed.courseId] >= 2.0 ? 'fas fa-star' : (completedRatings[completed.courseId] >= 1.5 ? 'fas fa-star-half-alt' : 'far fa-star')}) + ' text-warning'" style="vertical-align: text-bottom;" width="10px" height="10px"></i>
                                                    <i th:class="(${completedRatings[completed.courseId] >= 3.0 ? 'fas fa-star' : (completedRatings[completed.courseId] >= 2.5 ? 'fas fa-star-half-alt' : 'far fa-star')}) + ' text-warning'" style="vertical-align: text-bottom;" width="10px" height="10px"></i>
                                                    <i th:class="(${completedRatings[completed.courseId] >= 4.0 ? 'fas fa-star' : (completedRatings[completed.courseId] >= 3.5 ? 'fas fa-star-half-alt' : 'far fa-star')}) + ' text-warning'" style="vertical-align: text-bottom;" width="10px" height="10px"></i>
                                                    <i th:class="(${completedRatings[completed.courseId] >= 5.0 ? 'fas fa-star' : (completedRatings[completed.courseId] >= 4.5 ? 'fas fa-star-half-alt' : 'far fa-star')}) + ' text-warning'" style="vertical-align: text-bottom;" width="10px" height="10px"></i>
                                                </span>
                                                <span class="text-gray-500 ms-1" th:text="'(' + ${completedReviews[completed.courseId]} + ')'"></span>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <div class="row align-items-center g-0">
                                                <div class="col">
                                                    <a class="text-uppercase fs-6 view fw-medium" th:href="@{/course(course_id=${completed.courseId})}">View Course 
                                                        <i data-feather="chevron-right" width="12" height="12" class="icon-view"></i>
                                                    </a>
                                                </div>
                                                <div class="col-auto">
                                                    <a href="#" class="removeBookmark">
                                                        <i class="bi bi-bookmark-fill" style="color: #5A87C7;"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" th:if="${#lists.size(completeds) > 0}">
                                <div class="offset-lg-3 col-lg-6 col-md-12 col-12 text-center mt-5">
                                    <p>You’ve reached the end of the list</p>
                                </div>
                            </div>
                            <div class="row" th:if="${#lists.size(completeds) == 0}">
                                <div class="offset-lg-3 col-lg-6 col-md-12 col-12 text-center mt-5">
                                    <p>You haven't completed any courses yet.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Footer  -->
    <div th:replace="fragments/footer.html :: footer"></div>

    <!-- Scroll  -->
    <div th:replace="fragments/scroll-to-top.html :: scroll"></div> 
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        feather.replace();
    </script>
</body>