<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher - Course Management System</title>
    
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <style>
        body {
            background-color: #e8f0fa;
        }

        .mt-n5 {
            margin-top: -2rem !important;
        }
        
        .btn-primary {
            color: #fff; 
            background-color: #5A87C7 !important;
            border-color: #5A87C7 !important;

            transition: background-color 0.3s ease, border-color 0.3s ease !important;
        }
        .btn-primary:hover {
            color: #fff; 
            background-color:  #4B6F9D!important; 
            border-color: #4B6F9D !important; 
        }

        .btn-primary:active {
            color: #fff;
            background-color: #4B6F9D !important;
            border-color: #4B6F9D  !important; 
            box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important; 
        }

        .btn-primary:disabled {
            color: #fff;
            background-color: #5A87C7 !important;
            border-color: #5A87C7 !important; 
        }

        .rounded-bottom-md-2 {
            border-bottom-left-radius: 0.375rem !important;
            border-bottom-right-radius: 0.375rem !important;
            border: 1px solid #000000;
        }

        .shadow-sm {
            box-shadow: 0px 1px 3px rgba(0, 0, 0, .09) !important;
        }

        .nav-icon {
            display: inline-block;
            width: 1rem;   
            height: 1rem;  
            stroke-width: 2;
        }

        .sidenav.navbar .navbar-nav .nav-item .nav-link {
            align-items: center;
            background-color: transparent;
            border-bottom: 0;
            border-radius: .5rem;
            color: #696969 !important;
            display: flex;
            font-weight: 500;
            padding: .3rem .5rem !important;
            position: relative;
            margin-bottom: .125rem;
        }

        .sidenav.navbar .navbar-nav .nav-item .nav-link:hover {
            background-color: #5A87C7;
            border-radius: 0.5rem;
            color: #F3EFE3 !important;
        }

        .sidenav.navbar .navbar-header {
            color: #696969;
            font-size: .6875rem;
            font-weight: 500;
            letter-spacing: 1px;
            margin-bottom: .2rem;
            padding: .3rem .4rem;
            text-transform: uppercase;
        }

        .fw-semibold {
            font-weight: 600 !important;
        }

        .fs-6 {
            font-size: .75rem !important;
        }

        .img-4by3-lg {
            width: 6.5rem;
        }

        .dropdown-header {
            color: #696969;
            padding: .25rem 1.2rem;
            font-size: .6875rem;
            font-weight: 500;
            letter-spacing: 1px;
            margin-bottom: .2rem;
            text-transform: uppercase;
            display: block;
            white-space: nowrap;
        }

        .card {
            background-color: #f5f5f5; 
            color: #696969;
            border: none;
            box-shadow: 0 2px 4px rgba(105, 105, 105, 0.3)
        }

        .card-header {
            background-color: #f5f5f5;
            color: #696969;
            border-bottom: 1px solid var #696969;
            margin-bottom: 0;
            padding: 1rem 1.5rem;
        }

        .table>:not(caption)>*>*  {
            padding: .75rem 1.5rem !important;
        }

        .ms-3 {
            margin-left: 1rem !important;
        }

        .mb-0 {
            margin-bottom: 0 !important;
        }

        .h5, h5 {
            font-size: .875rem;
        }

        .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
            font-family: Inter, sans-serif;
            font-weight: 600;
            line-height: 1.5;
            margin-bottom: .5rem;
            margin-top: 0;
        }

        .text-dark-hover {
            color: #212529;
            text-decoration: none;
        }

        .text-dark-hover:hover {
            color: #5A87C7;
        }

        .table-centered td, .table-centered th {
            vertical-align: middle !important;
        }

        .btn-icon {
            align-items: center;
            display: inline-flex;
            flex-shrink: 0;
            justify-content: center;
            padding: 0;
            position: relative;
        }

        .btn-icon.btn-sm {
            font-size: 0.5rem;
            height: 2.1875rem;
            width: 2.1875rem;
        }

        .btn-ghost {
            color: #212529;
            background-color: transparent;
            border-color: transparent;
            border: 0.5rem;
        }

        .btn-ghost:hover {
            color: #5A87C7;
            background-color: #f8f9fa;
            border-color: #f8f9fa;
        }

        .btn-ghost:active {
            color: #4B6F9D;                 
            background-color: #f8f9fa;
            border-color: #f8f9fa;
        }

        .btn-ghost:disabled {
            color: #212529;
            background-color: transparent;
            border-color: transparent;
        }

        .dropdown-item {
            align-items: center;
            border-radius: .5rem;
            display: flex;
            font-weight: 500;
            line-height: 28px;
            padding: .125rem 1rem;
            color: #696969;
        }

        .dropdown-item:hover {
            background-color: #5A87C7;
            color: #F3EFE3;
        }

        .dropdown-item-icon {
            display: inline-block;
            width: 1rem;   
            height: 1rem;  
            stroke-width: 2;
        }

        .navbar-nav .nav-item .nav-link:hover {
            color: #5A87C7 !important;
        }

        .clock-icon {
            display: inline-block;
            width: 0.8rem;   
            height: 0.8rem;  
        }
    </style>
</head>
<body>
    <!-- Navbar -->
    <div th:replace="fragments/navbar.html :: navbar"></div>

    <!-- Profile Section -->
    <section class=" pt-5 pb-5">
        <div class="container">
            <div th:replace="fragments/profile.html :: profile"></div>
            
            <div class="row mt-0 mt-md-4">
                <div class="col-lg-3 col-md-4 col-12">
                    <div th:replace="fragments/sidebar.html :: sidebar"></div>
                </div>
    
                <div class="col-lg-9 col-md-8 col-12">
                    <div class="card mb-4">
                        <!-- Card header -->
                        <div class="card-header">
                            <h3 class="mb-0" style="font-size: 1.5rem; font-weight: 600;">Courses</h3>
                            <span>Manage your courses and its update like live, draft and insight.</span>
                        </div>
                        <!-- Card body -->
                        <div class="card-body">
                            <!-- Form -->
                            <form class="row gx-3">
                                <div class="col-lg-9 col-md-7 col-12 mb-lg-0 mb-2">
                                    <input type="search" class="form-control" placeholder="Search Your Courses">
                                </div>
                                <div class="col-lg-3 col-md-5 col-12">
                                    <select class="form-select" data-choices="">
                                        <option value="">Date Created</option>
                                        <option value="Newest">Newest</option>
                                        <option value="High Rated">High Rated</option>
                                        <option value="Law Rated">Law Rated</option>
                                        <option value="High Earned">High Enrollments</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                        <!-- Table -->
                        <div class="table-responsive overflow-y-hidden">
                            <table class="table mb-0 text-nowrap table-hover table-centered text-nowrap">
                                <thead class="table-light">
                                    <tr>
                                        <th>Courses</th>
                                        <th class="text-center">Students</th>
                                        <th class="text-center">Rating</th>
                                        <th class="text-center">Status</th>
                                        <th class="text-center"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div>
                                                    <a href="#">
                                                        <img src="https://geeksui.codescandy.com/geeks/assets/images/course/course-wordpress.jpg" alt="course" class="rounded img-4by3-lg">
                                                    </a>
                                                </div>
                                                <div class="ms-3">
                                                    <h4 class="mb-1 h5">
                                                        <a href="#" class="text-inherit text-dark-hover">Create a Website with WordPress</a>
                                                    </h4>
                                                    <ul class="list-inline fs-6 mb-0">
                                                        <li class="list-inline-item">
                                                            <span class="align-text-bottom">
                                                                <i class="clock-icon" data-feather="clock"></i>    
                                                            </span>
                                                            <span>1h 30m</span>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <svg class="me-1 mt-n1" style="padding-bottom: 3px;" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE"></rect>
                                                                <rect x="7" y="5" width="2" height="9" rx="1" fill="#DBD8E9"></rect>
                                                                <rect x="11" y="2" width="2" height="12" rx="1" fill="#DBD8E9"></rect>
                                                            </svg>
                                                            Beginner
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-center">11,200</td>
                                        <td class="text-center">
                                            <span class="lh-1">
                                                <span class="text-warning">4.5</span>
                                                <span class="mx-1 align-text-top">
                                                    <i class="bi bi-star-fill text-warning" style="vertical-align: text-bottom;"></i>
                                                </span>
                                                (3,250)
                                            </span>
                                        </td>
                                        <td class="text-center">
                                            <span class="badge bg-success">Live</span>
                                        </td>
                                        <td class="text-center">
                                            <span class="dropdown dropstart">
                                                <a class="btn-icon btn btn-ghost btn-sm rounded-circle" href="#" role="button" id="courseDropdown1" data-bs-toggle="dropdown" data-bs-offset="-20,20" aria-expanded="true">
                                                    <i data-feather="more-horizontal" style="font-size: 1rem;"></i>
                                                </a>
                                                <span class="dropdown-menu" aria-labelledby="courseDropdown1" style="position: absolute; inset: 0px 0px auto auto; margin: 0px; box-shadow: 0 8px 12px 1px rgba(11, 9, 36, .29); padding: .5rem; z-index: 1000;" data-popper-placement="left-start">
                                                    <span class="dropdown-header">Setting</span>
                                                    <a class="dropdown-item" href="#">
                                                        <i class="dropdown-item-icon me-2" data-feather="edit"></i> Edit
                                                    </a>
                                                    <a class="dropdown-item" href="#">
                                                        <i class="dropdown-item-icon me-2" data-feather="trash"></i> Remove
                                                    </a>
                                                </span>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div>
                                                    <a href="#">
                                                        <img src="https://geeksui.codescandy.com/geeks/assets/images/course/course-node.jpg" alt="course" class="rounded img-4by3-lg">
                                                    </a>
                                                </div>
                                                <div class="ms-3">
                                                    <h4 class="mb-1 h5">
                                                        <a href="#" class="text-inherit text-dark-hover">Learn Node.js - Tutorials Courses</a>
                                                    </h4>
                                                    <ul class="list-inline fs-6 mb-0">
                                                        <li class="list-inline-item">
                                                            <span class="align-text-bottom">
                                                                <i class="clock-icon" data-feather="clock"></i>
                                                            </span>
                                                            <span>3h 40m</span>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <svg class="me-1 mt-n1" style="padding-bottom: 3px;" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE"></rect>
                                                                <rect x="7" y="5" width="2" height="9" rx="1" fill="#754FFE"></rect>
                                                                <rect x="11" y="2" width="2" height="12" rx="1" fill="#DBD8E9"></rect>
                                                            </svg>
                                                            Intermediate
                                                        </li>
                                                    </ul>
                                                    <div class="progress mt-2" style="height: 3px">
                                                        <div
                                                            class="progress-bar bg-success"
                                                            role="progressbar"
                                                            style="width: 25%"
                                                            aria-valuenow="25"
                                                            aria-valuemin="0"
                                                            aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-center">0</td>
                                        <td class="text-center">
                                            <span class="lh-1">
                                                <span class="text-warning">4.5</span>
                                                <span class="mx-1 align-text-top">
                                                    <i class="bi bi-star-fill text-warning" style="vertical-align: text-bottom;"></i>
                                                </span>
                                                (5,300)
                                            </span>
                                        </td>
                                        <td class="text-center"><span class="badge bg-info">Darft</span></td>
                                        <td class="text-center">
                                            <span class="dropdown dropstart">
                                                <a class="btn-icon btn btn-ghost btn-sm rounded-circle" href="#" role="button" id="courseDropdown1" data-bs-toggle="dropdown" data-bs-offset="-20,20" aria-expanded="true">
                                                    <i data-feather="more-horizontal" style="font-size: 1rem;"></i>
                                                </a>
                                                <span class="dropdown-menu" aria-labelledby="courseDropdown1" style="position: absolute; inset: 0px 0px auto auto; margin: 0px; box-shadow: 0 8px 12px 1px rgba(11, 9, 36, .29); padding: .5rem; z-index: 1000;" data-popper-placement="left-start">
                                                    <span class="dropdown-header">Setting</span>
                                                    <a class="dropdown-item" href="#">
                                                        <i class="dropdown-item-icon me-2" data-feather="edit"></i> Edit
                                                    </a>
                                                    <a class="dropdown-item" href="#">
                                                        <i class="dropdown-item-icon me-2" data-feather="trash"></i> Remove
                                                    </a>
                                                </span>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div>
                                                    <a href="#">
                                                        <img src="https://geeksui.codescandy.com/geeks/assets/images/course/course-laravel.jpg" alt="course" class="rounded img-4by3-lg">
                                                    </a>
                                                </div>
                                                <div class="ms-3">
                                                    <h4 class="mb-1 h5">
                                                        <a href="#" class="text-inherit text-dark-hover">The Ultimate Advanced Laravel..</a>
                                                    </h4>
                                                    <ul class="list-inline fs-6 mb-0">
                                                        <li class="list-inline-item">
                                                            <span class="align-text-bottom">
                                                                <i class="clock-icon" data-feather="clock"></i>
                                                            </span>
                                                            <span>3h 40m</span>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <svg class="me-1 mt-n1" style="padding-bottom: 3px;" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE"></rect>
                                                                <rect x="7" y="5" width="2" height="9" rx="1" fill="#754FFE"></rect>
                                                                <rect x="11" y="2" width="2" height="12" rx="1" fill="#754FFE"></rect>
                                                            </svg>
                                                            Advance
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-center">3200</td>
                                        <td class="text-center">
                                            <span class="lh-1">
                                                <span class="text-warning">4.5</span>
                                                <span class="mx-1 align-text-top">
                                                    <i class="bi bi-star-fill text-warning" style="vertical-align: text-bottom;"></i>
                                                </span>
                                                (6,380)
                                            </span>
                                        </td>
                                        <td class="text-center">
                                            <span class="badge bg-success">Live</span>
                                        </td>
                                        <td class="text-center">
                                            <span class="dropdown dropstart">
                                                <a class="btn-icon btn btn-ghost btn-sm rounded-circle" href="#" role="button" id="courseDropdown1" data-bs-toggle="dropdown" data-bs-offset="-20,20" aria-expanded="true">
                                                    <i data-feather="more-horizontal" style="font-size: 1rem;"></i>
                                                </a>
                                                <span class="dropdown-menu" aria-labelledby="courseDropdown1" style="position: absolute; inset: 0px 0px auto auto; margin: 0px; box-shadow: 0 8px 12px 1px rgba(11, 9, 36, .29); padding: .5rem; z-index: 1000;" data-popper-placement="left-start">
                                                    <span class="dropdown-header">Setting</span>
                                                    <a class="dropdown-item" href="#">
                                                        <i class="dropdown-item-icon me-2" data-feather="edit"></i> Edit
                                                    </a>
                                                    <a class="dropdown-item" href="#">
                                                        <i class="dropdown-item-icon me-2" data-feather="trash"></i> Remove
                                                    </a>
                                                </span>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div>
                                                    <a href="#">
                                                        <img src="https://geeksui.codescandy.com/geeks/assets/images/course/course-gatsby.jpg" alt="course" class="rounded img-4by3-lg">
                                                    </a>
                                                </div>
                                                <div class="ms-3">
                                                    <h4 class="mb-1 h5">
                                                        <a href="#" class="text-inherit text-dark-hover">Gatsby Tutorial - Fast Website...</a>
                                                    </h4>
                                                    <ul class="list-inline fs-6 mb-0">
                                                        <li class="list-inline-item">
                                                            <span class="align-text-bottom">
                                                                <i class="clock-icon" data-feather="clock"></i>
                                                            </span>
                                                            <span>4h 10m</span>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <svg class="me-1 mt-n1" style="padding-bottom: 3px;" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE"></rect>
                                                                <rect x="7" y="5" width="2" height="9" rx="1" fill="#DBD8E9"></rect>
                                                                <rect x="11" y="2" width="2" height="12" rx="1" fill="#DBD8E9"></rect>
                                                            </svg>
                                                            Beginner
                                                        </li>
                                                    </ul>
                                                    <div class="progress mt-2" style="height: 3px">
                                                        <div
                                                            class="progress-bar bg-success"
                                                            role="progressbar"
                                                            style="width: 25%"
                                                            aria-valuenow="25"
                                                            aria-valuemin="0"
                                                            aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-center">0</td>
                                        <td class="text-center">
                                            <span class="lh-1">
                                                <span class="text-warning">4.5</span>
                                                <span class="mx-1 align-text-top">
                                                    <i class="bi bi-star-fill text-warning" style="vertical-align: text-bottom;"></i>
                                                </span>
                                                (5,400)
                                            </span>
                                        </td>
                                        <td class="text-center"><span class="badge bg-info">Darft</span></td>
                                        <td class="text-center">
                                            <span class="dropdown dropstart">
                                                <a class="btn-icon btn btn-ghost btn-sm rounded-circle" href="#" role="button" id="courseDropdown1" data-bs-toggle="dropdown" data-bs-offset="-20,20" aria-expanded="true">
                                                    <i data-feather="more-horizontal" style="font-size: 1rem;"></i>
                                                </a>
                                                <span class="dropdown-menu" aria-labelledby="courseDropdown1" style="position: absolute; inset: 0px 0px auto auto; margin: 0px; box-shadow: 0 8px 12px 1px rgba(11, 9, 36, .29); padding: .5rem; z-index: 1000;" data-popper-placement="left-start">
                                                    <span class="dropdown-header">Setting</span>
                                                    <a class="dropdown-item" href="#">
                                                        <i class="dropdown-item-icon me-2" data-feather="edit"></i> Edit
                                                    </a>
                                                    <a class="dropdown-item" href="#">
                                                        <i class="dropdown-item-icon me-2" data-feather="trash"></i> Remove
                                                    </a>
                                                </span>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div>
                                                    <a href="#"><img src="https://geeksui.codescandy.com/geeks/assets/images/course/course-sass.jpg" alt="course" class="rounded img-4by3-lg"></a>
                                                </div>
                                                <div class="ms-3">
                                                    <h4 class="mb-1 h5">
                                                        <a href="#" class="text-inherit text-dark-hover">Learn SCSS-Lang Courses - Basic</a>
                                                    </h4>
                                                    <ul class="list-inline fs-6 mb-0">
                                                        <li class="list-inline-item">
                                                            <span class="align-text-bottom">
                                                                <i class="clock-icon" data-feather="clock"></i>
                                                            </span>
                                                            <span>2h 59m</span>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <svg class="me-1 mt-n1" style="padding-bottom: 3px;" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE"></rect>
                                                                <rect x="7" y="5" width="2" height="9" rx="1" fill="#754FFE"></rect>
                                                                <rect x="11" y="2" width="2" height="12" rx="1" fill="#754FFE"></rect>
                                                            </svg>
                                                            Advance
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-center">0</td>
                                        <td class="text-center">
                                            <span class="lh-1">
                                                <span class="text-warning">4.5</span>
                                                <span class="mx-1 align-text-top">
                                                    <i class="bi bi-star-fill text-warning" style="vertical-align: text-bottom;"></i>
                                                </span>
                                                (7,800)
                                            </span>
                                        </td>
                                        <td class="text-center">
                                            <span class="badge bg-warning">Pending</span>
                                        </td>
                                        <td class="text-center">
                                            <span class="dropdown dropstart">
                                                <a class="btn-icon btn btn-ghost btn-sm rounded-circle" href="#" role="button" id="courseDropdown1" data-bs-toggle="dropdown" data-bs-offset="-20,20" aria-expanded="true">
                                                    <i data-feather="more-horizontal" style="font-size: 1rem;"></i>
                                                </a>
                                                <span class="dropdown-menu" aria-labelledby="courseDropdown1" style="position: absolute; inset: 0px 0px auto auto; margin: 0px; box-shadow: 0 8px 12px 1px rgba(11, 9, 36, .29); padding: .5rem; z-index: 1000;" data-popper-placement="left-start">
                                                    <span class="dropdown-header">Setting</span>
                                                    <a class="dropdown-item" href="#">
                                                        <i class="dropdown-item-icon me-2" data-feather="edit"></i> Edit
                                                    </a>
                                                    <a class="dropdown-item" href="#">
                                                        <i class="dropdown-item-icon me-2" data-feather="trash"></i> Remove
                                                    </a>
                                                </span>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div>
                                                    <a href="#"><img src="https://geeksui.codescandy.com/geeks/assets/images/course/course-gatsby.jpg" alt="course" class="rounded img-4by3-lg"></a>
                                                </div>
                                                <div class="ms-3">
                                                    <h4 class="mb-1 h5">
                                                        <a href="#" class="text-inherit text-dark-hover">Gatsby Tutorial - Fast Website</a>
                                                    </h4>
                                                    <ul class="list-inline fs-6 mb-0">
                                                        <li class="list-inline-item">
                                                            <span class="align-text-bottom">
                                                                <i class="clock-icon" data-feather="clock"></i>
                                                            </span>
                                                            <span>4h 10m</span>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <svg class="me-1 mt-n1" style="padding-bottom: 3px;" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE"></rect>
                                                                <rect x="7" y="5" width="2" height="9" rx="1" fill="#DBD8E9"></rect>
                                                                <rect x="11" y="2" width="2" height="12" rx="1" fill="#DBD8E9"></rect>
                                                            </svg>
                                                            Beginner
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-center">23</td>
                                        <td class="text-center">
                                            <span class="lh-1">
                                                <span class="text-warning">4.5</span>
                                                <span class="mx-1 align-text-top">
                                                    <i class="bi bi-star-fill text-warning" style="vertical-align: text-bottom;"></i>
                                                </span>
                                                (9,200)
                                            </span>
                                        </td>
                                        <td class="text-center">
                                            <span class="badge bg-danger">Deleted</span>
                                        </td>
                                        <td class="text-center">
                                            <span class="dropdown dropstart">
                                                <a class="btn-icon btn btn-ghost btn-sm rounded-circle" href="#" role="button" id="courseDropdown1" data-bs-toggle="dropdown" data-bs-offset="-20,20" aria-expanded="true">
                                                    <i data-feather="more-horizontal" style="font-size: 1rem;"></i>
                                                </a>
                                                <span class="dropdown-menu" aria-labelledby="courseDropdown1" style="position: absolute; inset: 0px 0px auto auto; margin: 0px; box-shadow: 0 8px 12px 1px rgba(11, 9, 36, .29); padding: .5rem; z-index: 1000;" data-popper-placement="left-start">
                                                    <span class="dropdown-header">Setting</span>
                                                    <a class="dropdown-item" href="#">
                                                        <i class="dropdown-item-icon me-2" data-feather="edit"></i> Edit
                                                    </a>
                                                    <a class="dropdown-item" href="#">
                                                        <i class="dropdown-item-icon me-2" data-feather="trash"></i> Remove
                                                    </a>
                                                </span>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        feather.replace();
    </script>
</body>
</html>